/* HOMEPAGE BANNER */
.banner {
    background-image: url(../assets/img/home-banner-bg-img.jpg);
    background-color: var(--main-light);
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33vw;
    max-height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}

@media (min-width: 640px) {
    .banner {
        margin-bottom: 120px;
    }
}

.mainTitle {
    text-align: center;
    font-family: "BookmanOldStyleBold", serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0;
    transform: translateY(14px);
    text-shadow:1px 1px 10px #fff, 1px 1px 10px var(--main-light);
}

@media (min-width: 480px) {
    .mainTitle {
        font-size: 2rem;
        transform: translateY(22px);
    }
}

@media (min-width: 720px) {
    .mainTitle {
        font-size: 3rem;
        transform: translateY(32px);
    }
}

@media (min-width: 1080px) {
    .mainTitle {
        font-size: 4rem;
        transform: translateY(45px);
    }
}
/* end of HOMEPAGE BANNER */

/* INTRO SECTION */
.intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.introText p {
    margin-top: 0;
}

.introButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 20px;
}

@media (min-width: 640px) {
    .intro {
        flex-direction: row;
        justify-content: space-between;
    }

    .intro > * {
        flex: 1 1 0;
    }

    .introText {
        padding-right: 32px
    }

    .introButtons {
        margin-top: 0;
    }
}
/* end of INTRO SECTION */

/* ADMIN SECTION */
.admin {
    background-color: var(--main-dark);
    color: var(--main-light);
    box-shadow: inset 0 0 0 2px var(--main-light);
    border: 2px solid var(--main-dark);
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.adminTitle {
    font-family: "BookmanOldStyleBold", serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}

.adminButtons a {
    display: block;
    margin-bottom: 12px;
}

@media (min-width: 640px) {
    .admin {
        flex-direction: row;
        align-items: center;
    }

    .adminTitle {
        margin-bottom: 0;
        margin-right: 48px;
    }

    .adminButtons {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .adminButtons a {
        margin-bottom: 0;
    }
}

@media (min-width: 880Px) {
    .adminTitle {
        margin-right: 30%;
        margin-left: 24px;
    }
}
/* end of ADMIN SECTION */

.noBookOfTheMonth {
    font-family: "BookmanOldStyleBold";
    font-size: 1.2rem;
    padding: 0 0 36px 0;
    margin: 0;
}